@import "../theme";


.header {

  @include header1;

  &.authentication {
    margin-top: 18vh;
  }

}


.header1 {

  @include header1;

  &.profile {
    margin-top: 18vh;
  }

  &.createGame {
    margin-top: 18vh;
  }

  &.lobby {
    margin-top: 5vh;
  }

  
}



.header3 {
  &.container {
    @include center;
  }

  &.title {
    font-weight: bold;
    color: white !important;
    font-size: 4em;
    color: $background;
    text-align: center;
    margin-top: 25vh; /* Add margin-top to move the title down (adjust as needed) */

  }

  &.title1 {
    font-size: 10vh;  //TODO DH Maybe style in theme 
    margin-top: 10vh;
    text-align: center;
  }

  &.container_title1 {
    @include center;
    width: 100vw;

  }


}