@import "../theme";


.header {

  @include header1;

  &.authentication {
    margin-top: 18vh;
    @media all and (max-width: $SMALL_WIDTH) {
      font-size: 5em;
      margin-top: 4vh;
    }
  }
  
  &.tiny {
    @include headerTiny;
  }

}


.header1 {

  @include header1;

  &.profile {
    margin-top: 18vh;
    display: flex;
    justify-content: center;
  }

  &.setGame {
    margin-top: 10vh;
  }

  &.lobby {
    margin-top: 5vh;
  }

  &.roundStart {
    margin-top: 18vh;
    display: flex;
    justify-content: center;

  }

  @media all and (max-width: $SMALL_WIDTH) {
    &.roundStart {
      display: none;
    }
    &.setGame {
      display: none;
    }
    &.lobby {
      display: none;
    }
    &.profile {
      display: none;
    }
  }
}



.header3 {
  &.container {
    @include center;
  }

  &.title {
    font-weight: bold;
    color: white !important;
    font-size: 4em;
    color: $background;
    text-align: center;
    margin-top: 25vh; /* Add margin-top to move the title down (adjust as needed) */

  }

  &.title1 {
    font-size: 10vh;  //TODO DH Maybe style in theme 
    margin-top: 10vh;
    text-align: center;
  }

  &.container_title1 {
    @include center;
    width: 100vw;

  }


}