@import "../theme";

.leaderboard {

    &.container {

        position: absolute;
        top: 5vh;
        height: 20vh;
        width: 30vw;
        font-weight: 300;
        border-radius: 0.75em;
        background-color: $background;
        transition: opacity 0.5s ease, transform 0.5s ease;
        box-shadow: $dropShadow;

        z-index: 1; //Overlay over map container
    }

}