@import "../theme";

.leaderboard {

    &.container {

        position: absolute;
        top: 5vh;
        height: 40vh;
        width: 40vw;
        font-weight: 300;
        border-radius: 0.75em;
        background-color: $background;
        transition: opacity 0.5s ease, transform 0.5s ease;
        box-shadow: $dropShadow;

        z-index: 1; //Overlay over map container
    }

    &.title {
        text-align: center;
    }

    &.rounds {
        display: flex;
        justify-content: space-between;

        &.counters {
            margin: 2vh;
        }
    }

    &.table-container {
        border: 1px solid white;
        margin: 2vh auto;
        width: 90%;
    }

    &.table-leaderboard {
        width: 100%;
        text-align: center;
    }

    &.round-timer {
        margin: 2vh;
        text-align: end;
    }

}