@import "../theme";

//TODO DH Create Home Styling SCSS Datei

.login {
  &.container {
    height:30vh;
    width: 20vw;
    margin-top: 2em;
    min-height: 300px;
    background-color: $background;
    border-radius: 0.75em;
    box-shadow: $dropShadow;
    
    display: flex;
    flex-direction: column;
  }
  &.form {
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    transition: opacity 0.5s ease, transform 0.5s ease;
    
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.input {
    height: 35px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    background: transparentize(white, 0.85);
    color: $textColor;
  }
  &.label {
    color: $textColor;
    margin-bottom: 10px;
    text-transform: lowercase;
    font-weight: 300;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }
}