@import "../theme";

.profile {

    &.header-container {
        @include center;

    }

    &.container {

        margin-top: 2em;
        background-color: $background;
        border-radius: 0.75em;
        box-shadow: $dropShadow;

        @include center;
    }

    &.button-container {

        margin-top: 4vh;
        padding-left: 3em;
        padding-right: 3em;
        padding-bottom: 2em;
    }
}






  





