@import "../theme";

.profile {

    &.container {
        height: 45vh;
        font-weight: 300;
        padding-left: 37px;
        padding-right: 37px;
        border-radius: 0.75em;
        background-color: $background;
        transition: opacity 0.5s ease, transform 0.5s ease;
        box-shadow: $dropShadow;
        @include center;
    }
    &.button-container {
        height: 20vh;


    }
    .field {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .label {
        display: none;

    }

    .input {

        width: 100%;
        background-color: rgba(60, 179, 113, 0.3);
        border: 1px solid rgba(60, 179, 113, 0.5);
        border-radius: 5px;
        padding: 8px;
        text-align: center;
    }

}






  





