@import "../theme";

.profile {

    &.container {
        height: 40vh;
        font-weight: 300;
        padding-left: 37px;
        padding-right: 37px;
        border-radius: 0.75em;
        background-color: $background;
        transition: opacity 0.5s ease, transform 0.5s ease;
        box-shadow: $dropShadow;
        @include center;
    }
    &.button-container {
        height: 20vh;


    }
    

}






  





