@import "../theme";

.round {

    &.container {
        height: 40vh;
        width: 60vw;
        font-weight: 300;
        border-radius: 0.75em;
        background-color: $background;
        transition: opacity 0.5s ease, transform 0.5s ease;
        box-shadow: $dropShadow;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

    }

    &.text_container {
        height: 20vh;
        width:60vw;

        display: flex;
        flex-direction: column;
        align-items: center;


    }

}