@import "../theme";

.rules {
  &.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  &.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: $background;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;


  }

  &.content {
    width: 100%;
    max-width: 600px;
    display:flex;
    flex-direction: column;
    text-align: center;

    overflow-y: auto;
    max-height: 400px;
  }

  &.settings-title{
    @include normal-title;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .instruction-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .edit {
    margin-top: 20px;
    width: 100%;
    max-width: 200px;
  }

  .powerUp-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Hide the scrollbar track */
  .content::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }

  .content::-webkit-scrollbar-track {
    background: transparent; /* Hide the scrollbar track background */
  }

  /* Style the scrollbar thumb */
  .content::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Optional: add rounded corners to the scrollbar thumb */
    border: 2px solid transparent; /* Optional: creates a space around the thumb */
    background-clip: content-box; /* Optional: prevents the border from showing */
  }
}

@media (max-width: 768px) {
  .rules.container {
    padding: 15px;
  }

  .rules.content {
    padding: 10px;
  }

  .instruction-title {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.9rem;
  }

  .edit {
    max-width: 100%;
  }
}