@import "../theme";

.primary-button {

  //Visuals
  @include primary-button;
  border: none;
  border-radius: $borderRadius;

  //Positioning
  padding: 1vh;
  margin-bottom: 0.5vh;

  //Interaction
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 0.5vh;

  &:hover {
    transform: translateY(-2px);
  }
  &:disabled {
    cursor: default;
    opacity: 0.4;
    &:hover {
      transform: none;
    }
  }

  &.authentication {
    height: 3.5em;

    &.link-button {
      background: none;
      border: none;
      color: $linkColor; 
      text-decoration: underline; 
      cursor: pointer;

    }
  }

  &.set-game {
    height: 3.5em;

    &.info-button {
      background: none;
      border: none;
      color: $linkColor; 
      text-decoration: underline; 
      cursor: pointer;
    }
  }

  &.selected {
    background-color: $accentAlt;
    opacity: 1;
    &:hover {
      transform: none;
    }
  }
}