@import "../theme";

.formfieldd {

    &.field {

        display: flex;
        flex-direction: column;
        justify-content: center;

        &.setGame {

            display: flex;
            flex-direction: row;

        }

    }

    &.label {

        &.authentication {

            color: $textColor;
            margin-bottom: 10px;
            text-transform: lowercase;
            font-weight: 300;

        }

        &.setGame {

            height: 3em;
            display: flex;
            flex-direction: column;
            justify-content: center;

        }
    }

    &.input {

        @include input-field;

        height: 3em;
        padding-left: 1em;
        border: none;
        border-radius: $borderRadius;

        &.authentication {

            margin-bottom: 1em;
            background: transparentize(white, 0.85);

        }

        &.setGame {

            margin-bottom: 1em;
            background: transparentize(white, 0.85);
            width: 4em;

        }

        &.profile {

            margin-top: 0.5em;
            width: 100%;
            background-color: rgba(60, 179, 113, 0.3);
            border: 1px solid rgba(60, 179, 113, 0.5);
            padding: 8px;
            text-align: center;

        }
    }
}