@import "../theme";

.formfield {
    color: $text;
    background-color: $accent;
    border-radius: $borderRadius/1;
    width: fit-content;

    &.field {
        display: flex;
        align-items: center;
        margin-top: 9px;

        &>.label {
            flex: 0;
        }

        &>.input {
            flex: 1;
            border: none;
            border-radius: $borderRadius;
            width: 99%;
        }
    }
}