@import "../theme";

.formfield {
    color: $text;
    background-color: $accent;
    border-radius: $borderRadius/2;
    width: fit-content;
    border: $formFieldBorder;

    &.input {
        flex: 1;
        border-radius: $borderRadius;
        border: none;
        &.invalid{
            border-radius: $borderRadius;
            background-color: $formFieldBackground;
            color: white;
        }
    }

    &.label {
        flex: 0;
        width: fit-content;
        white-space: nowrap;
        border: none;
    }


    &.field {
        display: flex;
        align-items: center;
        margin-top: 9px;
        width: fit-content;
        &.invalid{
            border-radius: $borderRadius;
            background-color: $formFieldBackground;
        }
    }
}