@import "../theme";

//TODO DH Margins
.powerup {
    &.overlay {
        //display in top right corner
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
        padding: 10px;
    }

    &.logo {
        height: 50px;
        width: 50px;
    }

    &.container {
        display: flex;
        column-gap: 20px;
        justify-content: space-between;
        width: fit-content;
        align-self: center;
    }

    &.button {


        &:hover {
            transform: translateY(-2px);
        }

        &:disabled {
            cursor: default;
            opacity: 0.4;

            &:hover {
                transform: none;
            }
        }

        &.inuse {
            opacity: 1;
            background-color: $accentAlt;
        }

        padding: 6px;
        font-weight: 700;
        font-size: 13px;
        text-transform: uppercase;
        height: 60px;
        width: 60px;
        border: none;
        border-radius: $borderRadius;
        cursor: pointer;
        opacity: 1;
        color: $background;
        background-color: $accent;
        transition: all 0.3s ease;
        margin-top: 0.5vh;
        text-align: center;
    }
}