/*
  This file contains the most basic variables that control how your application will look.
 */

/* Theme Colors

   these values control the colors of your application.
   feel free to play around with these and see what other look you can come up with! :D
*/

$accent: #7bf2a3;
$formFieldBackground: rgb(32, 97, 61);
$formFieldBorder: 1px solid rgba(60, 179, 113, 0.5);
$accentDark: #123597;
$accentAlt: #ffc48d;

$textColor: white;
$linkColor: white;
$buttonTextColor: #262632;


$background: #262632;


/* some constants */

$DESKTOP_WIDTH: 1160px;
$SMALL_LAPTOPS_WIDTH: 970px;
$TABLETS_WIDTH: 750px;
$SMALL_WIDTH: 768px;

/* some standard elements */
/* fonts */
$fontDefault: "M PLUS Rounded 1c", sans-serif;
$fontMono: "Roboto Mono", monospace;
$text: black;

/* a standard drop shadow */
$dropShadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);

$borderRadius: 0.75em;

/* mixins

  these allow you to create small snippets that you can insert with a one-liner in other stylesheets
  for an example, see styles/views/Login.scss
*/
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}


@mixin header1 {
  font-family: $fontDefault;
  font-size: 6em;
  font-weight: bold;
}

@mixin small-text {
  font-family: $fontDefault;
  font-size: 0.8em;
}

@mixin medium-text {
  font-family: $fontDefault;
  font-size: 2em;
}



@mixin input-field {
  font-family: $fontDefault;
  font-size: 1em;
  color: $textColor;
}

@mixin primary-button {

  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8em;
  text-align: center;
  height: 3.5em;
  color: $buttonTextColor;
  background-color: $accent;
  opacity: 1;

}