/*
  This file contains the most basic variables that control how your application will look.
 */

/* Theme Colors

   these values control the colors of your application.
   feel free to play around with these and see what other look you can come up with! :D
*/

$accent: #7bf2a3;
$accentDark: #123597;
$accentAlt: #ffc48d;

//used in drop down
$formFieldBackground: rgb(32, 97, 61);
$formFieldBorder: 1px solid rgba(60, 179, 113, 0.5);

$textColor: white;
$linkColor: white;
$buttonTextColor: #262632;


$background: #262632; //color for containers
@mixin background { //page background
  content: '';
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  z-index: -1;

  //blur the image
  $blur: 5px;
  position: fixed;
  //make sure edges are not see through. enlarges background
  top: calc(-2 * $blur);
  left: calc(-2 * $blur);
  width: calc(100% + 4 * $blur);
  height: calc(100% + 4 * $blur);

  filter: blur($blur) contrast(0.5) brightness(0.8);

}

/* some constants */

$DESKTOP_WIDTH: 1160px;
$SMALL_LAPTOPS_WIDTH: 970px;
$TABLETS_WIDTH: 750px;
$SMALL_WIDTH: 768px;
$TINY_WIDTH: 480px;

/* some standard elements */
/* fonts */
$fontDefault: "M PLUS Rounded 1c", sans-serif;
$fontMono: "Roboto Mono", monospace;
$text: black;

/* a standard drop shadow */
$dropShadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);

$borderRadius: 0.75em;

/* mixins

  these allow you to create small snippets that you can insert with a one-liner in other stylesheets
  for an example, see styles/views/Login.scss
*/
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

$titleBorder: $background;

@mixin header1 {
  font-family: $fontDefault;
  font-size: 6em;
  font-weight: bold;
  // -webkit-text-stroke: 3px $titleBorder;
}

@mixin headerTiny {
  font-family: $fontDefault;
  font-size: 3em;
  font-weight: bold;
  display: none;
  @media all and (max-width: $SMALL_WIDTH) {
     display: unset;
  }
}

@mixin normal-title {
  ont-family: $fontDefault;
  font-size: 1.2em;
  ont-weight: bold;

}

@mixin small-text {
  font-family: $fontDefault;
  font-size: 0.8em;
}

@mixin medium-small-text {
  font-family: $fontDefault;
  font-size: 1.2em;
}

@mixin medium-text {
  font-family: $fontDefault;
  font-size: 2em;
}



@mixin input-field {
  font-family: $fontDefault;
  font-size: 1em;
  color: $textColor;
}

@mixin primary-button {

  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8em;
  text-align: center;
  height: 3.5em;
  color: $buttonTextColor;
  background-color: $accent;
  opacity: 1;

}